<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>gecko</name>
	<displayName><![CDATA[Gecko Chart]]></displayName>
	<version><![CDATA[2.2.1]]></version>
	<description><![CDATA[Track bitcoin chart!]]></description>
	<author><![CDATA[PrestaShop]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>
